@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  html,
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  
  body {
    overscroll-behavior: none;
    font-family: var(--font-plus-jakarta-sans), "Plus Jakarta Sans", sans-serif;
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  
  main > :first-child {
    margin-top: 0 !important;
  }
  
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
